@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@model List<ApplicationCore.Models.Response.MovieResponseModel>

<div>
    MovieShop Home Page
</div>

@foreach (var movie in Model)
            {
                <ul>
                    <li>
                        @movie.Id
                    </li>
                    <li>
                        @movie.Title
                    </li>
                    <li>
                        @movie.Budget
                    </li>
                </ul>
            }